# .github/workflows/crypto-app.yml
name: Crypto App CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build-test-docker:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v5
    
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: 'maven'
    
    - name: Build & Test
      run: mvn clean package -DskipTests
    
    - name: Build & Push Docker (main only)
      if: github.ref == 'refs/heads/main'
      env:
        DOCKER_USERNAME: ${{ vars.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
        docker build -t $DOCKER_USERNAME/crypto-app:latest -t $DOCKER_USERNAME/crypto-app:1.0 .
        docker push $DOCKER_USERNAME/crypto-app:latest
        docker push $DOCKER_USERNAME/crypto-app:1.0
